<!-- aboutus.html -->

{% extends 'home.html' %}
{% block content %}
    <center>
    <p><h2 style="color:white ;background-color: rgb(0, 110, 255)"> TKS Travel Agency is the function of managing a company’s strategic approach to travel, the negotiations with all vendors, day-to-day operation of the corporate travel program, traveler safety and security, credit-card management and travel and expenses data management.</h2></p>
    <p><h2 align="left", style="color:white ;background-color: rgb(0, 110, 255)">The offers available are<br /> If you select a package trip<br />1.) Complete travel charge free<br />2.) Food 50% offer on travelling <br /> 3.) Rooms-will be pre-booked <br /> 4.) For first three booking customers special gifts are also available  </h2></p>
    <p><h2 style="color:white ;background-color: rgb(0, 110, 255)">OFERS AVAILABLE FOR ONLY 28 DAYS</h2></p>
    <p><h2 align="right", style="color:white ;background-color: rgb(0, 110, 255)"> SPECIAL  OFFERS</h2></p>
    <p><h3 align="right", style="color:white ;background-color: rgb(0, 110, 255)">1. For A/C Bus upto 5% offer</h3></p>
    <p><h3 align="right", style="color:white ;background-color: rgb(0, 110, 255)">2. For Normal Bus upto 8% offer</h3></p>
    <p><h3 style="color:white ;background-color: rgb(0, 110, 255)">OWNER'S DETAILS:</h3></p>
    </center>
    <p> <h2 align="left", style="color:white ;background-color: rgb(0, 110, 255)">T.K Sri Dharan <br /> M.SC Data Science <br /> Pollachi <br /> Ph_No: 9955774435 <br /> E_mail id: sridharan@gmail.com  </h2></p>
    <center>
        <p><h1 style="color:white ;background-color: rgb(0, 110, 255)">For Any Queries Contact Us</h1></p>    
</center>
{% endblock %}